*.sql linguist-language=java
*.yml linguist-language=Java
*.html linguist-language=Java
*.js linguist-language=Java
*.xml linguist-language=Java
*.css linguist-language=Java
*.ts linguist-language=Java

*.vue text=lf
*.ts text=lf
*.js text=lf
*.css text=lf
*.scss text=lf
